body {
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: underline;
  color: blue;
}
a:hover {
  cursor: pointer;
}
/*
COLOR PALETTE

yellow (light)
#FECC00
#ffe57f
green (light)
#31B330
#90e18f
red (light)
#EB2336
#f4919a
*/
